#root {
  --dark-scheme-purple: rgb(123, 97, 255);
  --dark-scheme-light-gray-text-color: rgb(128, 133, 139);
  --dark-scheme-white-text-color: rgb(255, 255, 255);
  --dark-scheme-primary-background-color: rgb(0, 0, 0);
  --dark-scheme-secondary-background-color: rgb(50, 53, 55);

  /* --primary-text-color: var(--light-scheme-blue);
  --text-color: var(--light-scheme-background-color);
  --secondary-text-color: rgb(136, 151, 160);
  --blue-background-color: var(--light-scheme-blue);
  --light-blue-background-color: var(--light-scheme-light-blue);
  --background-color: var(--light-scheme-background-color); */
}

a {
  text-decoration: none;
}
